/* ----- Links to fonts ----- */
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/Chronicle Display Black.otf');
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

/* ------ Specification ------ */

body {
	font-family: 'Gilroy', sans-serif;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 100;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

a:hover {
	outline: none;
}

.container-fluid_plain {
	padding: 0;
}

/* ----- Header ----- */
/* --- Upper menu ----- */
.header {
	background: #354147 url(../img/bg.png) no-repeat center center/cover;
	padding-top: 2.75em;
	padding-bottom: 50.8em;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 185px;
	align-items: center;
}

.logo {
	font-weight: 800;
	font-size: 32px;
	letter-spacing: 1.9px;
}

.nav-menu-horizontal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link-item {
	font-size: 18px;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.account-link {
	font-size: 17px;
}

.fa-user-circle {
	margin-right: 5px;
}

/* ----- title, subtitle, vertical menu ------ */
.social-media {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 25px;
	height: 200px;
}

.social-media-text {
	writing-mode: vertical-lr;
  	text-orientation: mixed;
}

.main-content-subtitle, .about-content--subtitle {
	color: #FBD784;
	font-size: 16px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 6px;
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}

.vertical-line {
	border-bottom: 2px solid #FBD784;
	width: 76px;
	margin-right: 25px;
}

.main-content-title {
	margin-bottom: 16px;
	font-size: 4.7rem;
}

.main-content-link {
	font-size: 18px;
}

.main-content-link span {
	margin-left: 10px;
	font-size: 22px;
}

.nav-menu-vertical {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
	justify-content: space-around;
    height: 10rem;
	border-right: 2px solid #fff;
	padding-right: 25px;
}
/* ----- About ----- */

.about {
	background-color: #0B1D26;
	padding-bottom: 11.8em;
}

.about-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-number-first {
	position: absolute;
    top: 10%;
    left: -5%;
    font-size: 108px;
    z-index: -0.5;
    opacity: 0.3;
    letter-spacing: 0.6rem;
}

.about-wrapper-first {
	margin-top: -425px;
}

.about-wrapper-second {
	flex-direction: row-reverse;
}

.about-wrapper-first, .about-wrapper-second {
	margin-bottom: 11.8em;
	position: relative;
}

.about-content {
	width: 40%;
}

.about-content-title {
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 3rem;
}

.about-content-text {
	font-size: 1rem;
	margin-bottom: 40px;
}

.about-content-link {
	color: #FBD784;
	font-size: 18px;
}

.about-content-link span {
	margin-left: 10px;
	font-size: 22px;
}

/* ----- Footer ----- */