/* ----- Links to fonts ----- */

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf');
}

/* ------ Specification ------ */

body {
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: 0;
	font-weight: 400;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: 'Gilroy', sans-serif;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

a:hover {
	outline: none;
	color: #FBD784;
}

.container-fluid_plain {
	padding: 0;
}

/* ----- Header ----- */
/* --- Upper menu ----- */
.header {
	background: #354147 url(../img/bg.png) no-repeat center center/cover;
	padding-top: 2.75em;
	padding-bottom: 50.8em;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 11.6em;
	align-items: center;
}

.logo {
	font-weight: 800;
	font-size: 2rem;
	letter-spacing: 0.2rem;
}

.nav-menu-horizontal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.account-link {
	font-size: 1.1rem;
}

.fa-user-circle {
	margin-right: 5px;
}

/* ----- title, subtitle, vertical menu ------ */
.social-media {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-top: 1.6em;
	height: 12.5em;
}

.social-media-text {
	writing-mode: vertical-lr;
  	text-orientation: mixed;
}

.main-content-subtitle, .about-content--subtitle {
	color: #FBD784;
	font-size: 1.1rem;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 0.4rem;
	display: flex;
	align-items: center;
	margin-bottom: 1.6em;
}

.vertical-line {
	border-bottom: 2px solid #FBD784;
	width: 4.75em;
	margin-right: 1.6em;
}

.main-content-title {
	margin-bottom: 1em;
	font-size: 4.7rem;
}

.main-content-link span {
	margin-left: 10px;
	font-size: 1.4rem;
}

.nav-menu-vertical {
	display: flex;
    flex-direction: column;
    align-items: flex-end;
	justify-content: space-around;
    height: 10rem;
}

.nav-menu-vertical-item {
	border-right: 2px solid #fff;
    padding: 15px;
}

.nav-menu-vertical-item:hover {
	border-right: 2px solid #FBD784;
}

/* ----- About ----- */

.about {
	background-color: #0B1D26;
	padding-bottom: 11.8em;
}

.about-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-number-first, .about-number-third {
	position: absolute;
    top: 4%;
    left: -5%;
    font-size: 6.75rem;
    opacity: 0.2;
    letter-spacing: 0.6rem;
}

.about-number-second {
	position: absolute;
    top: 4%;
    right: 35%;
    font-size: 6.75rem;
    opacity: 0.2;
    letter-spacing: 0.6rem;
}

.about-wrapper-first {
	margin-top: -26.6em;
}

.about-wrapper-second {
	flex-direction: row-reverse;
}

.about-wrapper-third {
	position: relative;
}

.about-wrapper-first, .about-wrapper-second {
	margin-bottom: 11.8em;
	position: relative;
}

.about-content {
	width: 40%;
}

.about-content-title {
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	font-size: 3rem;
}

.about-content-text {
	font-size: 1rem;
	margin-bottom: 2.5em;
}

.about-content-link {
	color: #FBD784;
}

.about-content-link span {
	margin-left: 10px;
	font-size: 1.4rem;
}

/* ----- Footer ----- */

.footer {
	background-color: #0B1D26;
	padding-bottom: 3.8em;
}

.footer-big-wrapper {
	display: flex;
	justify-content: space-between;
}

.footer-text {
	margin-top: 1.4em;
	margin-bottom: 7.5em;
}

.footer-wrapper-second {
	display: flex;
	justify-content: space-between;
}

.footer-copyright {
	color:#454747;
	font-size: 1rem;
}

.footer-title {
	color: #FBD784;
	font-size: 1.5rem;
	margin-bottom: 1.1em;
	font-weight: 700;
	font-family: 'Gilroy';
}

.footer-list-item {
	margin-bottom: 1.5em;
}